@charset "utf-8";
body{ text-align:center}

/* Genral 
========================================================================================*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { 	margin: 0; 	padding: 0; border: 0;	font-size: 100%; font: inherit;	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block;}
ol, ul { list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table {	border-collapse: collapse; border-spacing: 0;}

.clearfix:after {  content: "."; display:block; font-size:0; line-height:0; height:0; clear:both; visibility:hidden; }
.clearfix { display:inline-block; }		
* html .clearfix { height:1%; }
.clearfix { display:block; }

.alingLeft { float:left}
.alingRight { float:right}

:focus { outline:none;}
img { vertical-align:top; border:0; max-width:100% }
p { padding:0 0 15px 0}

section:after {  content: "."; display:block; font-size:0; line-height:0; height:0; clear:both; visibility:hidden; }
section { display:inline-block; }		
* html section { height:1%; }
section { display:block; }


/* END Genral 
========================================================================================*/

/* Font  
========================================================================================*/

body { -webkit-text-size-adjust:100%; -moz-text-size-adjust:100%}
/* End Font  
========================================================================================*/

/* Branding  
========================================================================================*/
html { }
body {}
#wrapper { }
.pageWidth{ }

#logo { }


header, nav, section, footer { display:block;}

#header {  }

/* END Branding  
========================================================================================*/

/* HEADING   
========================================================================================*/
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}


/* END  HEADING   
========================================================================================*/

/* Links AND Button   
========================================================================================*/
a:focus{ outline:none;}
a { }

/* Links AND Button   
========================================================================================*/


/* Main Navigation 
========================================================================================*/

nav { }
nav ul{}
nav li {}
nav li a {}
nav li a:hover, nav li.active a {  }


/* End Navigation 
========================================================================================*/


#container { }
aside{ }
.column{ }

#widecolumn{ }
section { }


/* FORM 
========================================================================================*/
fieldset {}
/* Footer
===============================================*/
footer { }


/* transition
===============================================*/
#wrapper, #widecolumn, aside, nav li{transition: all 0.2s; -moz-transition: all 0.2s; -webkit-transition: all 0.2s; -o-transition: all 0.2s;}